<html>
<head>
	<title>nabnu</title>

	<!-- CONFIGURATION -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Allow web app to be run in full-screen mode. -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="poloveroid">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no">

	<!-- Important scripts -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/sha256.js"></script>
	<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
	<script src="https://cdn.jsdelivr.net/vuefire/1.0.0/vuefire.min.js"></script>

	<!-- Stylesheet -->
	<link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600,700,800,900,500,300' rel='stylesheet' type='text/css' />
	<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div id="app" class="container-fluid">
		<div class="row row-hv-centered" id="header">
			<div class="col-md-12 col-xs-12 col-lg-12 center-content">
				<div class="glyphicon glyphicon-log-out" style="font-size:1.5em;" @click="logOut()" v-if="logged==true"></div>
				<h2><span class="glyphicon glyphicon-camera"></span></h2>
				<h2>nabnu</h2>
			</div>
		</div>
		<div class="row row-hv-centered" id="sign-up" v-if="logged!=true">
			<div class="col-md-4 col-xs-12 col-lg-4 center-content">
				<h3>{{ authentication }}</h3>
				<div class="input-group margin-bottom">
						<span class="input-group-addon" id="basic-addon1">@</span>
						<input type="text" class="form-control" placeholder="Email" v-model="email">
				</div>
				<div class="margin-bottom">
					<input type="password" class="form-control" placeholder="Password" v-model="pwd" @keyup.enter="loginSignup">
				</div>
				<button type="button" class="btn btn-default quicksand" @click="loginSignup()">
					{{ authentication }}
				</button>
				<button type="button" class="btn btn-warning quicksand" @click="toggleUser()">
					{{ userPrompt }}
				</button>
			</div>
		</div>

		<div class="row row-hv-centered" id="upload-form" v-if="logged==true">
			<div class="center-content margin-bottom">
				<input type="file" accept="image/*" capture="camera" id="inputPhoto" class="form-control">
				<input type="text" id="inputPhotoName" class="form-control" style="margin-top:2px;" placeholder="Name my photo">
			</div>
			<div class="col-md-12 col-xs-12 col-lg-12 center-content">
				<button type="button" class="btn btn-default btn-info quicksand" id="upload" @click="uploadPhoto()">
					Upload my photo
				</button>
			</div>
		</div>

		<partial name="current-upload" v-if="upload == 'uploaded'"></partial>

		<partial name="last-uploads" v-if="logged == true"></partial>

	</div>

	<script src="js/init.js"></script>
</body>

</html>