<html>
<head>
	<title>nabnu</title>

	<!-- CONFIGURATION -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Allow web app to be run in full-screen mode. -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="poloveroid">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no">

	<!-- Important scripts -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/sha256.js"></script>
	<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
	<script src="https://cdn.jsdelivr.net/vuefire/1.0.0/vuefire.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.10/vue-router.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<!-- Stylesheet -->
	<link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600,700,800,900,500,300' rel='stylesheet' type='text/css' />
	<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>
	<!-- For the swiping thing but it changes the style of the previous sheets -->
	<!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />-->
</head>

<body>
	<div id="app" class="container-fluid">
		<div class="row row-hv-centered" id="header">
			<div class="col-md-12 col-xs-12 col-lg-12 center-content">
				<div class="glyphicon glyphicon-log-out" style="font-size:1.5em;" @click="logOut()" v-if="logged==true"></div>
				<h2><span class="glyphicon glyphicon-camera"></span></h2>
				<h2>nabnu</h2>
			</div>
		</div>

		<!-- AUTHENTICATION COMPONENT -->
		<authentication-component :is="currentView"></authentication-component>

		<!-- LOGGED IN COMPONENT -->
		<logged-component v-if="logged==true" :usr="usr" :photos="photos"></logged-component>

		<!-- SEARCH AND FOLLOW USER COMPONENT -->
		<search-component v-if="logged==true" :usr="usr"></search-component>
	</div>

	<script src="js/init.js"></script>
</body>

</html>