/*** GENERAL ***/

html * {
  -webkit-font-smoothing: antialiased;
}

html {
	-webkit-text-size-adjust: 100%; /*Prevent text size change on orientation change.*/

}
html, body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 400;
}

/*** USEFUL CLASSES ***/
.center-content {
	text-align: center !important;
}
.quicksand {
	font-family: 'Quicksand', sans-serif !important;
	font-weight: 700 !important;
}
.margin-bottom {
	margin-bottom: 1vh !important;
}
.row-hv-centered {
	height: 50vh !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.no-margin-no-padding {
  margin: 0!important;
  padding: 0!important;
}
.center-flex-column {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
/*** TITLES ***/

h1,h2,h3,h4,h5 {
	font-family: 'Work Sans', sans-serif !important;
}

h2 {
	font-weight: 700 !important;
	font-size: 10vh !important;
}

h3, h4 {
	font-weight: 700 !important;
}

/*** HEADER ***/
#header {
	background-color: #FFFFFF;
	color: #B395C8;
}
/*** UPLOAD ROWS ***/
#upload-form {
	background-color: #501D50;
	flex-direction: column;
}
#current-upload {
	min-height: 50vh !important;
	max-height: 100vh !important;
	height: auto !important;
}
#last-uploads {
	min-height: 50vh !important;
	max-height: 100vh !important;
	height: auto !important;
	background-color: #B395C8;
}
/*** AUTHENTICATION ROW ***/
#sign-up {
	background-color: #EEEEEE;
}

/*** POLAROID FRAME ***/
.frame_polaroid figure{
	padding: 6px 6px 2px 6px;
	background: #eee6d8;
	background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	/* Shadow */
	-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
	-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
	box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
}

.frame_polaroid {
	/*setting a width and adding overflow:hidden will clear the floats we're going to apply to figure*/
	width:20%;
	overflow:hidden;
	transform: translateX(200%);
}

/*** FRIENDS FEED ***/
#friends-feed {
  background-color: #EEEEEE;
}

#container {
  display: block;
  position: relative;
  width:160px;
  height: 160px;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swipingPicture {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  padding: 20px;
  width: 160px;
  height: 160px;
  position: absolute;
  cursor: hand;
}

.polaroid {
  background: #222;
  width: 120px;
  height: 120px;
  display: block;
  background-size: 100% auto !important;
  background-position: center;
  background-repeat: no-repeat;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
}

.save {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.delete {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}




